@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@font-face {
  font-family: GreatVictorian;
  src: url("./GreatVictorian.otf") format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blanchedalmond;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: azure;
}
h1 {
  font-family: "GreatVictorian", sans-serif;
  font-weight: 400;
  font-size: 3.5em;
}

div.tabs {
  position: relative;
  font-size: 0;
}

div.tabs > a {
  display: inline-block;
  padding: 0.5em;
  font-size: 16px;
  line-height: 1em;
}

div.tabs > a + a {
  margin-left: 0.5em;
}

div.tabs > a > div {
  position: absolute;
  top: 100%;
  left: -23vw;
  width: 100vw;
  padding: 0.5em;
  border-radius: 0 3px 3px 3px;
  display: none;
  background-color: aliceblue;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div.tabs > a:hover > div {
  display: flex;
  box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.four0four {
  width: 100vw;
  height: 100%;
  object-fit: contain;
}
.four0four h1 {
  position: absolute;
}
.four0four img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}

.navBar,
.footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: black;
  justify-content: space-evenly;
  height: 100px;
  min-height: 10vh;
}
.navBar svg {
  font-size: 36px;
  color: azure;
}
.navBar {
  visibility: visible;
  box-shadow: 0 12px 6.1px rgba(0, 0, 0, 0.07), 0 21px 51px rgba(0, 0, 0, 0.028);
}

.footer {
  visibility: hidden;
}

.store {
  color: azure;
}
.navLink {
  text-decoration: none;
  color: azure;
  margin-top: 40px;
}
.navLink:hover {
  color: black;
  background-color: aliceblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navInput {
  margin-top: 40px;
  width: 300px;
  font-size: 25px;
  border-radius: 30px;
  padding: 8px 0px 0px 20px;
}

.navProfile,
.navCar {
  margin-top: 40px;
}

.navButton {
  margin-top: 44px;
  font-size: 18px;
  border-radius: 10px;
}

.headContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.productImage {
  width: 160px;
  height: 89px;
}

.productImage:hover {
  transform: translateY(6px);
}

.repeatAutoMinMax {
  height: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 2vw 4vw 2vw 4vw;
  overflow: scroll;
}

.productCard {
  width: 350px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 5px 15px -1px rgba(0, 0, 0, 0.9);
}
.productCard img:first-of-type {
  width: 100px;
  height: 55px;
  transform: translateY(-24px);
}

.productCard img {
  width: 300px;
  height: 260px;
}
.productCard p {
  font-size: 18px;
  text-align: center;
}

.productContainer a,
.productContainer a:visited {
  color: black;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
}

#searchIcon {
  transform: translateY(8px);
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 4em;
    transform: translateY(-14px);
  }
  .hidden-visually {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .navLink h3 {
    visibility: hidden;
  }

  .footer {
    height: auto;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer svg {
    font-size: 2em;
    color: azure;
  }

  .four0four {
    height: 75vh;
  }
  #searchIcon {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  main {
    height: 66vh;
  }
  h1 {
    transform: translateY(14px);
  }

  .navBar {
    height: auto;
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    gap: 15px;
  }

  .navInput {
    align-self: center;
    width: auto;
    margin: 0;
  }

  .navBar a:nth-child(1) {
    display: flex;
  }
  .top {
    grid-area: 1 / 1 / -1 / -1;
    margin: 4px 0px 0px 0px;
  }
  .navBar form {
    width: 100%;
  }

  .footer {
    transform: translateY(11px);
  }

  #searchIcon {
    display: none;
  }
}
