@media (max-width: 800px) and (min-width: 600px){
  body{
    width: 100%;
    height: 100%;
  }
}

@media(orientation: landscape ){
 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home{
  margin-top: -23px;
  background-image: url("https://i.ytimg.com/vi/BS6YSAZFTl4/maxresdefault.jpg");
  height: 800px;

}
.navbar{
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: black;
  justify-content: space-around;
  height: 130px;
}
.store{
  color:  azure;
  font-size: 55px;
  font-style: italic;
}
.navLink{
  text-decoration: none;
  color: azure;
  margin-top: 40px;
}
.navLink:hover{
  color: black;
  background-color: aliceblue;
  border-radius: 5px;
}
.navinput{
  margin-top: 40px;
  width: 300px;
  font-size: 25px;
  border-radius: 30px;
  margin-left: 100px;
}
.navProfile{
 filter:invert(100%);
 margin-top: 30px;
}
.navcar{
  margin-top: 30px;
}
.navButton{
  margin-top: 40px;
  font-size: 20px;
}
}

